@model ATTP.ViewModel.LisQuestionViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách câu hỏi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .img-border {
        width: 100px;
    }
</style>

@if (ViewBag.Result == "success")
{
    <div id="AlertBox" class="alert alert-success"><strong>Thêm mới câu hỏi thành công</strong></div>
}
@if (ViewBag.Result == "update")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật câu hỏi thành công</strong></div>
}
<a class="btn quick-link" href="@Url.Action("Question")"><i class="fal fa-plus-circle mr-1"></i>Thêm câu hỏi</a>
<div class="box_content">
    <div class="form-search-list">
        <form action="@Url.Action("ListQuestion")" method="get" style="margin-left: 0;">
            <p>
                Tìm tên @Html.TextBoxFor(a => a.Name, new { @class = "w300" })
                <button type="submit" class="btn-search">Tìm kiếm</button>
            </p>
        </form>
    </div>
    <p>Có tổng số <strong>@Model.Questions.TotalItemCount</strong> phản hồi</p>
    <table class="list_table tablecenter table-striped">
        <tbody>
            <tr>
                <th style="width: 200px">Câu hỏi</th>
                <th>Trả lời</th>
                <th style="width: 100px">Hoạt động</th>
                <th style="width: 150px"></th>
            </tr>
            @foreach (var ques in Model.Questions)
            {
                <tr data-id="@ques.Id">
                    <td class="text-left">@ques.Ques</td>
                    <td class="text-left">@ques.Reply</td>
                    <td>@Html.DisplayFor(model => ques.Active)</td>
                    <td>
                        @Html.ActionLink("Sửa", "UpdateQuestion", new { questionId = ques.Id })
                        - <a href="javascript:;" onclick="deleteService('@ques.Id')" style="color: red;">Xóa</a>
                    </td>
                </tr>
            }
            @if (Model.Questions.PageCount > 1)
            {
                <tr>
                    <td colspan="8">@Html.PagedListPager(Model.Questions, page => Url.Action("ListQuestion", new { page, name = Model.Name }))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function deleteService(id) {
            if (confirm("Bạn có chắc chắn xóa câu hỏi này không?")) {
                $.post("/Contact/DeleteQuestion", { questionId: id }, function (data) {
                    if (data) {
                        alert("Xóa bài viết thành công");
                        $("tr[data-id='" + id + "']").fadeOut();
                    }
                    else {
                        alert("Quá trình thực hiện không thành công");
                    }
                });
            }
        }
    </script>
}
