@model ATTP.Models.Product
@{
    var id = ViewContext.RouteData.Values["Id"];
}
<div class="card product">
    <div class="thuml">
        <a href="@Url.Action("ProductDetail", new {url = Model.Url})">
            @if (Model.ListImage != null)
            {
                <img class="card-img-top lazyload" src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/products/", Model.ListImage.Split(',')[0])" alt="@Model.Name">
            }
            else
            {
                <img class="card-img-top lazyload" src="~/Content/images/img-main/on-image.jpg" alt="@Model.Name">
            }
        </a>
        <div class="box-action">
            @if (Model.PriceSale > 0)
            {
                var percent = (decimal)Model.PriceSale / (decimal)Model.Price;
                var discount = 100 - Math.Truncate(percent * 100);
                <div class="discount">
                    -@discount%
                </div>
            }
            @if (Model.Quantity > 0)
            {
                if (id != null)
                {
                    <a href="javascript:;" onclick="addToCart(@Model.Id, @id)"><i class="fas fa-cart-plus"></i></a>
                }
                else
                {
                    <a href="javascript:;" onclick="addToCart(@Model.Id)"><i class="fas fa-cart-plus"></i></a>
                }
            }
        </div>
    </div>
    <div class="card-body p-3 mt-2">
        <a href="@Url.Action("ProductDetail", new {url = Model.Url})" class="card-title">@Model.Name</a>
        <div class="product-price">
            @if (Model.PriceSale > 0)
            {
                <p>@Html.DisplayFor(a => Model.PriceSale)</p>
                <del>@Html.DisplayFor(a => Model.Price)</del>
            }
            else if (Model.Price > 0)
            {
                <p>@Html.DisplayFor(a => Model.Price)</p>
            }
            else
            {
                <p class="w-100 text-center">Liên hệ</p>
            }
        </div>
        <a href="@Url.Action("ProductDetail", new {url = Model.Url})" class="btn btn-block mt-3">XEM THÊM</a>
    </div>
</div>
